* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

:root {
  /**
   * colors 
   */

  --ultramarine-blue: #22cfb8;
  --lavender-blue: hsl(229, 96%, 91%);
  --oxford-blue: hsl(229, 84%, 12%);
  --light-gray: hsl(0, 0%, 80%);
  --cultured: hsl(228, 26%, 96%);
  --white: hsl(0, 0%, 100%);

  /**
   * spacing 
   */

  --px: 6%;
  --py: 80px;

  /**
   * others 
   */

  --default-transition: 0.25s ease;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/man.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 2% 6%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: #22cfb8;
  gap: 5px;
  text-decoration: none;
}

.logo img {
  width: 70px;
}

.logo p {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: serif;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #22cfb8;
  display: block;
  margin: auto;
  transition: var(--default-transition);
}

.nav-links ul li:hover:after {
  width: 100%;
}

.nav-links ul li:hover a {
  color: #22cfb8;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_buttons {
  display: flex;
  gap: 5px;
}

.active {
  color: #22cfb8 !important;
}

.text-box {
  width: 90%;
  color: var(--white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  font-family: Abel;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: white;
  font-family: Josefin;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: var(--white);
  border: 1px solid var(--white);
  padding: 12px 34px;
  font-size: 19px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: var(--default-transition);
}

.hero-btn:hover {
  border: 1px solid #22cfb8;
  background: #22cfb8;
  color: white;
  border-radius: 10px;
}

nav .fa {
  display: none;
}

/* our success story starts */

.project-counter-wrp {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  align-items: stretch;
  justify-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 2% 6%;
  margin-top: 3rem;
}

.project-counter-wrp-body {
  background-color: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 16px 26px;
  color: white;
  display: flex;
  width: 200px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  transition: var(--default-transition);
  border-radius: 20px;
}

.project-counter-wrp-body:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-10px);
  transform: translateX(-10px);
}

.project-counter-wrp-body .number {
  font-size: 32px;
  font-weight: bold;
}

.project-counter-wrp-body i {
  font-size: 35px;
  margin: 20px 0px;
}

.project-counter-wrp-body p {
  font-size: 18px;
  font-weight: 500;
}

/* our success story ends */

/* features */
.features {
  background: #1b1b1b;
  display: flex;
  justify-content: space-around;
}

.features-left {
  padding: 30px var(--px);
  flex-basis: 50%;
}

.our_program {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.features .section-title {
  color: var(--white);
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 40px;
}

.features-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.features .item-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  padding: 5px;
  height: 65px;
  border-radius: 8px;
}

.features .blue {
  background: hsl(216, 87%, 56%);
}

.features-item .wrapper {
  display: flex;
  flex-direction: column;
  color: var(--white);
  gap: 10px;
}

.features-item .item-title {
  font-size: 20px;
}

.features-item > .item-text {
  font-size: 14px !important;
  font-weight: 400;
}

.features-right {
  height: auto;
  flex-basis: 50%;

  width: 100%;
}

.features-right img {
  width: auto;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

/* instructor */

.instructor {
  padding: var(--py) var(--px);
}

.instructor .section-subtitle {
  text-align: center;
  margin-bottom: 15px;
}

.instructor-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  align-items: stretch;
  justify-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 2% 6%;
  margin-top: 3rem;
  padding: 0 15px;
}

.instructor-card {
  background: hsl(228, 33%, 97%);
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 8px;
  text-align: center;
  transition: var(--default-transition);
}

.instructor-card:hover {
  background: var(--white);
  box-shadow: 0 10px 30px hsla(0, 0%, 0%, 0.1);
}

.instructor-img-box {
  position: relative;
  margin-bottom: 30px;
  border-radius: 8px;
  overflow: hidden;
}

.instructor-img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--default-transition);
}

.instructor-card:hover .instructor-img-box img {
  transform: scale(1.1);
}

.instructor-card .social-link {
  position: absolute;
  bottom: -60px;
  left: 50%;
  transform: translatex(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transition: var(--default-transition);
}

.instructor-card .social-link a {
  background: var(--ultramarine-blue);
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: var(--white);
  border-radius: 8px;
  transition: var(--default-transition);
}

.instructor-card .social-link a:hover {
  background: var(--ultramarine-blue);
}

.instructor-card:hover .social-link {
  bottom: 20px;
}

.instructor-name {
  color: var(--oxford-blue);
  font-size: var(--fs-4);
  font-weight: var(--fw-7);
  margin-bottom: 10px;
  transition: var(--default-transition);
}

.instructor-card:hover .instructor-name {
  color: var(--ultramarine-blue);
}

.instructor-title {
  color: var(--ultramarine-blue);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
}

.instructor-card:hover .instructor-title {
  color: var(--oxford-blue);
}

/* ----- Start of Faq ---------- */

.faqs {
  padding: 2% 6%;
}

.header_title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #22cfb8;
}

.container_faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  display: flex;
  align-items: end;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 2rem;
  gap: 1rem;
  color: var(--white);
  height: fit-content;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.faq h4 {
  font-size: 1rem;
}

.fa_icon {
  align-self: flex-start;
  font-size: 1rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* start of testimonial */

.testimonial_container {
  overflow-x: hidden !important;
  position: relative !important;
  margin: 5rem 5rem;
  padding: 0rem 1.5rem !important;
}

.swiper-wrapper {
  position: relative;
  top: -15px;
}

.avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background: #22cfb8;
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial_body::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  background: linear-gradient(135deg, transparent, #22cfb8, #22cfb8, #22cfb8);
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

.testimonial_container .swiper-pagination {
  position: relative;
  top: 0px;
}

footer {
  background: var(--oxford-blue);
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(300px, 1fr));
  align-items: stretch;
  justify-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 2% 6%;
  margin-top: 3rem;
}

.footer-logo {
  margin-bottom: 25px;
}

.footer-text p {
  color: var(--white);
  font-size: var(--fs-6);
  font-family: "Roboto", sans-serif;
  margin-top: 14px;
  margin-bottom: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.social-link a {
  background: hsl(0, 0%, 100%, 0.1);
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: center;
  border-radius: 4px;
  transition: var(--default-transition);
}

.social-link a:hover {
  background: var(--ultramarine-blue);
}

.social-link i {
  color: var(--white);
  font-size: 20px;
}

.grid-item .item-heading {
  color: var(--white);
  font-size: var(--fs-4);
  margin-bottom: 25px;
}

.grid-item .list-item:not(:last-child) {
  margin-bottom: 10px;
}

.list-item {
  list-style: none;
}

.grid-item .list-item a {
  color: var(--white);
  font-size: var(--fs-6);
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-decoration: none;
  transition: var(--default-transition);
}

.grid-item .list-item a:hover {
  transform: translateX(10px);
  color: var(--ultramarine-blue);
}

.grid-item .wrapper {
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}

.grid-item .wrapper input {
  width: 100%;
  padding: 20px 30px;
  padding-right: 70px;
  color: var(--oxford-blue);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  border: none;
  outline: none;
}

.grid-item .send-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 62px;
  height: 62px;
  background: var(--red-orange-color-wheel);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--default-transition);
}

.grid-item .send-btn i{
  font-size: 25px;
  color: var(--oxford-blue);
}

.grid-item .send-btn:hover {
  background: var(--ultramarine-blue);
}

.copyright {
  background: hsl(231, 90%, 8%);
  text-align: center;
  color: var(--lavender-blue);
  font-size: var(--fs-6);
  padding: 15px var(--px);
  line-height: 1.7;
  font-family: "Roboto", sans-serif;
}
.copyright a {
  display: inline-block;
  color: var(--red-orange-color-wheel);
  transition: var(--default-transition);
}

.copyright a:hover {
  color: var(--ultramarine-blue);
}

/* move to top */

#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  background-color: #3498db;
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 30;
  transition: background-color 0.3s ease;
  animation: popUpDown 0.5s infinite alternate; /* Add this line for the pop-up and down animation */
}

#scrollToTopBtn:hover {
  background-color: #2980b9;
  animation: none; /* Disable the animation on hover */
}

@keyframes popUpDown {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-10px);
  }
}

/* media quires */

@media (max-width: 600px) {
  .project-counter-wrp {
    grid-template-columns: repeat(1, minmax(170px, 1fr));
  }
  .features {
    flex-direction: column;
  }
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 10px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #22cfb8;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    transition: var(--default-transition);
  }
  nav .fa {
    display: block;
    color: var(--white);
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .course {
    margin-right: 3rem;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    border: 1px solid var(--white);
    padding: 6px 18px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: var(--default-transition);
  }
  .testimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
  .container_faq {
    grid-template-columns: 1fr;
  }
  .instructor-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .project-counter-wrp {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
  }
  .features {
    flex-direction: column;
  }
  .instructor-grid {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
