* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/man.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  padding: 2% 6%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  color: #22cfb8;
  gap: 5px;
  text-decoration: none;
}

.logo img {
  width: 70px;
}

.logo p {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
}

.nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  font-family: serif;
}

.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #22cfb8;
  display: block;
  margin: auto;
  transition: 1s;
}

.nav-links ul li:hover:after {
  width: 100%;
}

.nav-links ul li:hover a {
  color: #22cfb8;
}

.nav_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_buttons {
  display: flex;
  gap: 5px;
}

.active {
  color: #22cfb8 !important;
}

.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
  font-family: Abel;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: white;
  font-family: Josefin;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 19px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: 1s;
}

.hero-btn:hover {
  border: 1px solid #22cfb8;
  background: #22cfb8;
  color: white;
  border-radius: 10px;
}

nav .fa {
  display: none;
}

@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }
  .text-box p {
    font-size: 10px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: fixed;
    background: #22cfb8;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul {
    padding: 30px;
  }
  .course {
    margin-right: 3rem;
  }

  .hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 6px 18px;
    font-size: 12px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
  }
}

/* our success story starts */

.project-counter-wrp {
  display: grid;
  grid-template-columns: repeat(4, minmax(170px, 1fr));
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 2% 6%;
  margin-top: 3rem;
}

.project-counter-wrp-body {
  background-color: #0093e9;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 16px 26px;
  color: white;
  display: flex;
  width: 200px;
  height: 150px;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in-out;
  border-radius: 20px;
}

.project-counter-wrp-body:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateY(-10px);
  transform: translateX(-10px);
}

.project-counter-wrp-body .number {
  font-size: 32px;
  font-weight: bold;
}

.project-counter-wrp-body i {
  font-size: 35px;
  margin: 20px 0px;
}

.project-counter-wrp-body p {
  font-size: 18px;
  font-weight: 500;
}

@media (max-width: 600px) {
  .project-counter-wrp {
    grid-template-columns: repeat(1, minmax(170px, 1fr));
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .project-counter-wrp {
    grid-template-columns: repeat(2, minmax(170px, 1fr));
  }
}

/* our success story ends */

/* ----- Start of Faq ---------- */

.faqs {
  padding: 2% 6%;
}

.header_title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: bold;
  color: #22cfb8;
}

.container_faq {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.faq {
  display: flex;
  align-items: end;
  background: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  padding: 2rem;
  gap: 1rem;
  color: #fff;
  height: fit-content;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.faq h4 {
  font-size: 1rem;
}

.fa_icon {
  align-self: flex-start;
  font-size: 1rem;
}

.faq p {
  margin-top: 0.8rem;
  display: none;
}

.faq.open p {
  display: block;
}

/* start of testimonial */

.testimonial_container {
  overflow-x: hidden !important;
  position: relative !important;
  margin: 5rem 5rem;
  padding: 0rem 1.5rem !important;
}

.swiper-wrapper {
  position: relative;
  top: -15px;
}

.avatar {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 1rem;
  border: 1rem solid var(--color-bg1);
}

.testimonial_info {
  text-align: center;
}

.testimonial_body {
  background: #22cfb8;
  padding: 2rem;
  margin-top: 3rem;
  position: relative;
}

.testimonial_body::before {
  content: "";
  position: absolute;
  height: 3rem;
  width: 3rem;
  background: linear-gradient(135deg, transparent, #22cfb8, #22cfb8, #22cfb8);
  left: 50%;
  top: -1.5rem;
  transform: rotate(45deg);
}

.testimonial_container .swiper-pagination {
  position: relative;
  top: 0px;
}

@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/* footer */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  font-family: Lexend;
  margin-top: 20px;
  font-weight: 600;
  font-weight: bold;
  font-size: 25px;
}

.icons .fa-brands {
  color: rgb(211, 50, 50);
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart {
  color: #22cfb8;
}
